.c-currency-list {
    
}
@media (min-width: 640px) {
    .c-currency-list {
        
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: flex-start;
            align-items: auto;
            align-content: start;
        
    }
}
@media (min-width: 768px) {
    .c-currency-list {
    }
}
@media (min-width: 1024px) {
    .c-currency-list {
    }
}
@media (min-width: 1280px) {
    .c-currency-list {
    }
}
@media (min-width: 1536px) {
    .c-currency-list {
    }
}
@media (min-width: 1800px) {
    .c-currency-list {
    }
}
@media (min-width: 2000px) {
    .c-currency-list {
    }
}